aside{
    background-color: cadetblue;
    width: 300px;
    height: 400px;
}
aside ul {
    display: block;
    list-style: square;
    list-style-position: inside;
}
aside ul li{
    margin: 10px;
    background-color: aliceblue;   
}

aside a{
    color: black;
}