nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 10px;
}
.navlst{
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.navlst li{
    background-color: aliceblue;
    padding: 6px 10px;
    margin: 10px;
}
.navlst li a{
    color: #000;
}