*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-box{
  border: 3px solid black;
  padding: 12px;
  width: 500px;
}
.main-box *{
  margin: 6px;
}
header{
  background-color: yellowgreen;
}
.head{
  font-size: 36px;
  color:cadetblue;
  font-weight: 700;
}
nav{
  background-color: brown;
}
h2{
  background-color: aliceblue;
}
p{
  background-color: antiquewhite;
}
.inner{
  display: flex;
  border: 3px solid skyblue;
}
.inner > div{
    margin-right: 12px;
}
.cardlist{
  display: flex;
  gap: 6px;
}
.cardlist div{
  background-color: pink;
}
section{
  background-color: burlywood;
}
aside{
  background-color: blueviolet;
}
footer{
  background-color: salmon;
}